<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'P&L'"></title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<table class="table table-responsive">
		<thead>
			<tr>
				<th scope="col">Book</th>
				<th scope="col">Instrument</th>
				<th scope="col">Reference Qty</th>
				<th scope="col">Reference Price</th>
				<th scope="col">Reference Valuation (Instrument Currency)</th>
				<th scope="col">Reference FX Rate</th>
				<th scope="col">Reference Valuation (Book Currency)</th>
				<th scope="col">Current Qty</th>
				<th scope="col">Current Price</th>
				<th scope="col">Current Valuation (Instrument Currency)</th>
				<th scope="col">Current FX Rate</th>
				<th scope="col">Current Valuation (Book Currency)</th>
				<th scope="col">MTM P&L</th>
				<th scope="col">MTM P&L (Book Currency)</th>
				<th scope="col">FX P&L</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="result: ${results}" scope="row">
				<td th:text="${result.book}" />
				<td th:text="${result.instrument}" />
				<td
					th:text='${result.unrealizedPnL.referenceValuation.valuationInput.numericInputData.get("Position.Quantity")}' />
				<td
					th:text='${result.unrealizedPnL.referenceValuation.valuationInput.numericInputData.get("Instrument.Price")}' />
				<td
					th:text='${result.unrealizedPnL.referenceValuation.valuationInput.textInputData.get("Instrument.Currency")} + ${result.unrealizedPnL.referenceValuation.instrumentCurrencyValuation}' />
				<td th:text='${result.unrealizedPnL.referenceValuation.fxRate}' />
				<td
					th:text='${result.unrealizedPnL.referenceValuation.valuationInput.textInputData.get("Book.Currency")} +${result.unrealizedPnL.referenceValuation.bookCurrencyValuation}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.numericInputData.get("Position.Quantity")}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.numericInputData.get("Instrument.Price")}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.textInputData.get("Instrument.Currency")} + ${result.unrealizedPnL.currentValuation.instrumentCurrencyValuation}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.fxRate}' />				
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.textInputData.get("Book.Currency")} +${result.unrealizedPnL.currentValuation.bookCurrencyValuation}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.textInputData.get("Instrument.Currency")} +${result.unrealizedPnL.mtmPnL}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.textInputData.get("Book.Currency")} + ${result.unrealizedPnL.mtmPnLFx}' />
				<td th:text="${result.unrealizedPnL.fxPnL}" />
			</tr>

		</tbody>
	</table>
</body>
</html>