<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'P&L'"></title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Book</th>
				<th scope="col">Instrument</th>
				<th scope="col">P&L</th>
				<th scope="col">Current Valuation</th>
				<th scope="col">Reference Valuation</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="result: ${results}" scope="row">
				<td th:text="${result.book}" />
				<td th:text="${result.instrument}" />
				<td th:text="${result.pnl}" />
				<td th:text="${result.currentValuation.valuation}" />
				<td th:text="${result.referenceValuation.valuation}" />
			</tr>

		</tbody>
	</table>

</body>
</html>