<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'Positions'"></title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/datatables.min.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/datatables.min.js"></script>
<body>

<div class="btn-group">
		<button type="button" class="btn btn-outline-secondary toggle-vis">
			<a class="toggle-vis" data-column="0">Book</a>
		</button>
		<button type="button" class="btn btn-outline-secondary toggle-vis">
			<a class="toggle-vis" data-column="1">Instrument</a>
		</button>
		<button type="button" class="btn btn-outline-secondary toggle-vis">
			<a class="toggle-vis" data-column="2">Cost Basis</a>
		</button>
		<button type="button" class="btn btn-outline-secondary toggle-vis">
			<a class="toggle-vis" data-column="3">Qty</a>
		</button>
	</div>
    <div>
	<table class="table table-responsive" id="table_id">
		<thead>
			<tr>
				<th scope="col">Book</th>
				<th scope="col">Instrument</th>
				<th scope="col">Current Qty</th>
				<th scope="col">Current Price</th>
				<th scope="col">Current Valuation (Instrument Currency)</th>
				<th scope="col">Current FX Rate</th>
				<th scope="col">Current Valuation (Book Currency)</th>
				<th scope="col">Reference Qty</th>
				<th scope="col">Reference Price</th>
				<th scope="col">Reference Valuation (Instrument Currency)</th>
				<th scope="col">Reference FX Rate</th>
				<th scope="col">Reference Valuation (Book Currency)</th>
				<th scope="col">MTM P&L</th>
				<th scope="col">MTM P&L (Current FX Rate)</th>
				<th scope="col">FX P&L</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="result: ${results}" scope="row">
				<td th:text="${result.book}" />
				<td th:text="${result.instrument}" />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.numericInputData.get("Position.Quantity")}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.numericInputData.get("Instrument.Price")}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.textInputData.get("Instrument.Currency")} + ${result.unrealizedPnL.currentValuation.instrumentCurrencyValuation}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.numericInputData.get("FX.Rate")}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.textInputData.get("Book.Currency")} +${result.unrealizedPnL.currentValuation.bookCurrencyValuation}' />
				<td
					th:text='${result.unrealizedPnL.referenceValuation.valuationInput.numericInputData.get("Position.Quantity")}' />
				<td
					th:text='${result.unrealizedPnL.referenceValuation.valuationInput.numericInputData.get("Instrument.Price")}' />
				<td
					th:text='${result.unrealizedPnL.referenceValuation.valuationInput.textInputData.get("Instrument.Currency")} + ${result.unrealizedPnL.referenceValuation.instrumentCurrencyValuation}' />
				<td th:text='1.0' />
				<td
					th:text='${result.unrealizedPnL.referenceValuation.valuationInput.textInputData.get("Book.Currency")} +${result.unrealizedPnL.referenceValuation.bookCurrencyValuation}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.textInputData.get("Instrument.Currency")} +${result.unrealizedPnL.mtmPnL}' />
				<td
					th:text='${result.unrealizedPnL.currentValuation.valuationInput.textInputData.get("Book.Currency")} + ${result.unrealizedPnL.mtmPnLFx}' />
				<td th:text="${result.unrealizedPnL.fxPnL}" />
			</tr>

		</tbody>
	</table>
	</div>
	<script>
		$(document).ready(function() {
			var table = $('#table_id').DataTable({
				"scrollY" : "200px",
				"paging" : false,
				"colReorder": true
			});

			$('a.toggle-vis').on('click', function(e) {
				e.preventDefault();

				// Get the column API object
				var column = table.column($(this).attr('data-column'));

				// Toggle the visibility
				column.visible(!column.visible());
			});
		});
		
		
		
	</script>
</body>
</html>