<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'P&L'"></title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/datatables.min.css" />


<script src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/cr-1.5.0/datatables.min.js"></script>


<style>
.btn-group {
	width: 100%;
}
.withTooltip {
    cursor: pointer;
}
</style>
<body>


	<div class="container" style="max-width: 95%; margin-top: 1%;">
		<div id="table_id_filter" class="col col-lg-10">
			<input id="myInput" type="search" class="form-control "
				placeholder="Search..." aria-controls="table_id">
		</div>
		<table class="table table-striped" id="table_id">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Book</th>
					<th scope="col">Instrument</th>
					<th scope="col">Cost Basis</th>
					<th scope="col">Qty</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="position: ${positions}" scope="row">
					<td th:text="${position.date}" />
					<td th:text="${position.book}" />
					<td th:text="${position.instrument}" />
					<td th:text="${position.costBasis}" />
					<td th:text="${position.qty}" />
				</tr>

			</tbody>
		</table>
	</div>
	<script>
		$(document).ready(
				function() {
					var table = $('#table_id').DataTable({
						"paging" : false,
						"colReorder" : true,
						"stateSave" : true,
						"searching" : true,
						"dom" : '<"#top.row"<"col col-lg-2" B>><t><ip>',
						"columnDefs" : [ {
							targets : 1,
							className : 'noVis'
						} ],
						buttons : [ {
							extend : 'colvis',
							columns : ':not(.noVis)'
						} ]

					});

					// #myInput is a <input type="text"> element
					$('#myInput').on('keyup', function() {
						table.search(this.value).draw();
					});

					document.getElementById('top').prepend(
							document.getElementById('table_id_filter'))
							
				}

				);
	
	</script>
</body>
</html>