<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'Positions'"></title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/datatables.min.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/datatables.min.js"></script>
<body>

	<div class="btn-group">
		<button type="button" class="btn btn-outline-secondary toggle-vis">
			<a class="toggle-vis" data-column="0">Date</a>
		</button>
		<button type="button" class="btn btn-outline-secondary toggle-vis">
			<a class="toggle-vis" data-column="1">Book</a>
		</button>
		<button type="button" class="btn btn-outline-secondary toggle-vis">
			<a class="toggle-vis" data-column="2">Instrument</a>
		</button>
		<button type="button" class="btn btn-outline-secondary toggle-vis">
			<a class="toggle-vis" data-column="3">Cost Basis</a>
		</button>
		<button type="button" class="btn btn-outline-secondary toggle-vis">
			<a class="toggle-vis" data-column="4">Qty</a>
		</button>
	</div>
    <div>
	<table class="table display" id="table_id">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Book</th>
				<th scope="col">Instrument</th>
				<th scope="col">Cost Basis</th>
				<th scope="col">Qty</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="position: ${positions}" scope="row">
				<td th:text="${position.date}" />
				<td th:text="${position.book}" />
				<td th:text="${position.instrument}" />
				<td th:text="${position.costBasis}" />
				<td th:text="${position.qty}" />
			</tr>

		</tbody>
	</table>
	</div>
	<script>
		$(document).ready(function() {
			var table = $('#table_id').DataTable({
				"scrollY" : "200px",
				"paging" : false,
				"colReorder": true
			});

			$('a.toggle-vis').on('click', function(e) {
				e.preventDefault();

				// Get the column API object
				var column = table.column($(this).attr('data-column'));

				// Toggle the visibility
				column.visible(!column.visible());
			});
		});
		
		
		
	</script>
</body>
</html>